* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: black;
}

.cell {
  width: 4em;
  height: 4em;
  background-color: black;
  text-align: center;
  line-height: 4em;
  vertical-align: middle;
  font-size: 2.5em;
  display: inline-block;
  color: white;
  -webkit-transition: background-color 1s, color 1s, border-color 1s;
  transition: background-color 1s, color 1s, border-color 1s;
}



.internal-row {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.internal-col {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.text-background-same {
  color: chartreuse;
  border-color: chartreuse;
}

.highlight-loss {
  background-color: tomato;
  color: tomato;
  border-color: tomato;
}

.board {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  text-align: center;

}

.highlight-win {
  background-color: chartreuse;
}

.taken {
  /*background-color: tomato;*/
}

.score-box {
  width: 30%;
  display: inline-block;
  color: white;
  font-size: 1.5em;
  border: 2px solid lightgrey;
  padding: .5em;
  margin: .5em 1em;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.current {
  background-color: steelblue;
}

.score {
  display: inline-block;
  width: 80%;
  margin: 25px auto;
  text-align: center;

}
